.feature-small {
    display: flex;
    flex-direction: column;
    align-items: center;


    &:not(:last-child) {
        margin-bottom: 2.5rem;

       
    }

    @media only screen and (max-width: $bp-large) {
        margin-bottom: 0 !important;

        &:not(:last-child) {
            margin-right: 5rem;
        }
    }
    

    &__icon {
        text-align: center;
        margin-bottom: 2.5rem;
        width: 6rem;
        height: 6rem;
        border-radius: 100%;
        border-style: solid;
        border-width: 3px;
        font-size: 3.5rem;

        &--red {
            border-color: var(--color-red);
            color: var(--color-red);
        }

        &--green {
            border-color: var(--color-green);
            color: var(--color-green);
        }
        
        &--blue {
            border-color: var(--color-blue);
            color: var(--color-blue);
        }
    }

    &__heading {
        font-size: 1.6rem;
        text-transform: uppercase;
        text-align: center;
        font-family: var(--font-display-2);
    }
}